.app_wrapper {
  height: inherit;
  display: grid;
  place-items: center;
  position: relative;
}

.app_outer {
  background-color: white;
  width: 80%;
  height: 80%;
  max-width: 85em;
  max-height: 55em;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

}

.app {
  z-index: 4;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 30px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.app::-webkit-scrollbar {
  width: .5em;
}

.app::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.app::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-radius: 10px;
}

.app main {
  display: flex;
  align-items: center;
}

.gradient_background_outer {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: -1;
  border-radius: 60% 50% 40% 80%;
  filter: blur(60px);
  background: radial-gradient(circle at 50% 50%,
      rgba(89, 37, 153, 0.684),
      rgba(124, 72, 179, 0.392));
  opacity: 1;
}

.gradient_background_innerWrapper {
  position: absolute;
  z-index: 2;
  top: 62%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  align-items: center;
  display: flex;
  height: 100%;
}

.gradient_background_inner {
  width: 45%;
  height: 45%;
  border-radius: 60% 50% 40% 80%;
  filter: blur(60px);
  background-color: rgba(190, 242, 248);
  /* background: radial-gradient(circle at 50% 50%,
      rgba(190, 242, 248),
      rgba(180, 207, 245)); */
  opacity: 1;
}

.gradient_background_inner.sec {
  align-self: flex-start;
  margin-left: -60px;
  background-color: rgb(123, 212, 222);
  /* background: radial-gradient(circle at 50% 50%,
      rgba(190, 242, 248),
      rgb(27, 111, 228)); */
}

.hover-effect {
  cursor: pointer;
}

.hover-effect::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left 50% 0;
  transition: all 300ms ease-in;
  border-radius: 10px;
}

.hover-effect:hover::after {
  transform: scaleX(1);
}

.arrowed_button {
  width: fit-content;
}

.arrowed_button>a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.arrowed_button a .icon {
  width: 20px;
  height: 20px;
  margin-left: .5em;
}


/* .gradient-background {
  position: fixed;
  display: block;
  background-color: aqua;
  width: 58vw;
  height: 50vh;
  top: 25vh;
  left: 36vw;
  border-radius: 60% 50% 40% 80%;
  filter: blur(60px);
  background: radial-gradient(circle at 50% 50%,
      rgba(190, 242, 248),
      rgba(180, 207, 245));
  opacity: 1;
} */