footer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer>p:first-child {
    opacity: 0.7;
}

footer>p:nth-child(2)>span {
    font-weight: bold;
}