header {
    position: relative;
    z-index: 2;
}

.nav_wrapper>ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 20px;
    color: black;
    position: relative;
}

.nav_wrapper>ul li {
    font-weight: bold;

}

.nav_wrapper>ul li a {
    color: inherit;
    text-decoration: none;
}

.nav_list_logo {
    font-weight: bolder;
    width: fit-content;
}

.nav_list_logo a {
    display: flex;
    align-items: center;
}

.nav_list_logo .icon {
    width: 20px;
    height: 20px;
    margin-right: .2em;
    transition: all 500ms ease-in;
}

.nav_list_logo:hover .icon {
    color: #00FF00
}

.nav_list_Back {
    position: absolute;
    top: 0;
    margin: 0;
    justify-self: end;
    height: fit-content;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}

.nav_list_Back>a {
    margin: 0;
}